---
import websiteConfig from '../../website.config.json';

import type { DocumentContext, PageContext } from '../types';

import Footer from './Footer.astro';
import SEO from './SEO.astro';

export type Props = {
  page: PageContext
  document?: DocumentContext;
}

const { document, page } = Astro.props;

const { language } = page;
---
<!doctype html>
<html class="scroll-smooth" lang={language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/svg+xml" href={`${websiteConfig.base}/favicon.svg`} />
		<link rel="icon" type="image/png" href="{`${websiteConfig.base}/favicon-96x96.png" sizes="96x96" />
		<link rel="shortcut icon" href="{`${websiteConfig.base}/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="{`${websiteConfig.base}/apple-touch-icon.png" />
    <SEO page={page} />
  </head>
  <body class="body">
    <div class="texture" />
    <main class="main">
      <slot />
    </main>
    <Footer document={document}  />
  </body>
</html>
